
###> symfony/framework-bundle ###
APP_ENV=dev
APP_SECRET=
APP_DEBUG=0
###< symfony/framework-bundle ###

###> symfony/routing ###
DEFAULT_URI=http://localhost
###< symfony/routing ###

###> symfony/messenger ###
MESSENGER_TRANSPORT_DSN=amqp://sample:pSample1@rabbitmq:5672/sample
###< symfony/messenger ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="postgresql://sample:pSample1@postgres:5432/sample"
###< doctrine/doctrine-bundle ###

###> redis ###
REDIS_URL=redis://redis:6379
###> redis ###

###> lexik/jwt-authentication-bundle - EXAMPLE JWT DATA - NOT PROD DATA ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=3dc6dc28c6b4755048fc25a1b5539a6f32d9b0fbb825f4525247ea2d54290197
###< lexik/jwt-authentication-bundle ###

###> EXAMPLE ENCRYPT KEY - NOT PROD KEY ###
ENCRYPT_KEY=MPEbGq/fpYT4M33CDZlZyTILTOkv4uOe82RE9BqTw1c=

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'
###< nelmio/cors-bundle ###
